@import 'styles/main';

.categoriesFavoritesContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: $space-2 $space-2 $space-4;

  .categoriesFavoritesItem {
    width: fit-content;
    pointer-events: none;
    margin-bottom: $space-3;
    color: var(--crimson-8);
    border-bottom: 2px solid var(--crimson-8);

    &:hover,
    &:active {
      color: var(--crimson-8);
      border-bottom: 2px solid var(--crimson-8);
    }
  }
}
