@import 'styles/main';

.planets {
  width: 100%;
  padding: $space $space-2;
  margin: $space-2 0;
}

.icon_arrow {
  justify-self: flex-end;
  fill: $fontColorGray;
}

.icon_heart {
  justify-self: center;
  align-self: center;
  fill: var(--slate-7);
  font-size: $fontSizeXXExtraLarge;
  margin-top: calc($space/2);

  &:hover,
  &:focus,
  &:active {
    fill: var(--tomato-10);
  }
}
