@import '~styles/variables';

.tableWrapper {
  background: $greyBG;
  border-radius: 8px;
  border: 1px solid $colorTintGrey;
  width: 100%;
}

.table {
  border: 1px solid $colorTintGrey;
  border-radius: 8px 8px 0 0;
  font-size: $baseFontSize;
  padding: $space;
  width: 100%;
}

.headerRow,
.bodyRow {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-column-gap: $space-2;
  justify-items: start;
  overflow-wrap: break-word;
}

@media screen and (min-width: 769px) {
  .headerRow,
  .bodyRow {
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr 1fr 1.5fr;
  }
}

@media screen and (max-width: 768px) {
  .headerRow,
  .bodyRow {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.headerRow {
  th {
    color: $selectBG;
    font-weight: $baseFontWeight;
    font-size: $fontSizeLarge;
    height: 48px;
    padding: $space;
    text-align: center;
  }
}

.bodyRow {
  font-weight: $baseFontWeight;
  font-size: $baseFontSize;

  &:hover {
    background: $colorDimGrey;
    border-radius: 4px;
    color: $fontColorDark;
  }

  td {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    padding: $space;
  }

  i {
    font-style: normal;
  }
}

.paginationWrapper {
  margin: 0;
  padding: 0;
}
