@import 'styles/main';

.tableWrapper {
  background: $white;
  border-radius: 8px;
  width: 100%;
  max-height: 800px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: var(--mauve-6);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--mauve-9);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--mauve-11);
  }
}

.table {
  font-size: $baseFontSize;
  padding: $space;
  width: 100%;
}

.headerRow,
.bodyRow {
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-column-gap: $space-2;
  justify-items: start;
  overflow-wrap: break-word;
}

.headerRow {
  color: $fontColorGray;
  th {
    font-weight: $fontWeightLight;
    height: 48px;
    padding: $space;
    text-align: center;
  }
}

.bodyRow {
  font-weight: $baseFontWeight;
  font-size: $normalFontSize;
  color: $baseFontColor;
  border-bottom: 2px solid var(--slate-5);
  padding: $space 0;

  &:hover {
    background: var(--gray-3);
    border-radius: 4px;
  }

  td {
    display: flex;
    min-height: 48px;
    max-height: auto;
    justify-content: center;
    align-items: center;
    padding: $space;
  }

  td:last-of-type {
    justify-self: end;
    padding-right: $space-2;
  }

  i {
    display: flex;
    align-items: center;
    font-style: normal;
    text-align: left;
    height: auto;
  }
}

.paginationWrapper {
  margin: 0;
  padding: 0;
}

.loader {
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}
