@import 'styles/main';

.categories {
  width: 100%;
  background: $white;
  display: flex;
  padding: $space-2;
}

.categoriesItem {
  text-transform: uppercase;
  font-size: $normalFontSize;
  line-height: 30px;
  font-weight: $fontWeightSemiBold;
  margin: 0 $space-2;
  cursor: pointer;
  color: $fontColorGray;

  &:hover {
    color: var(--crimson-5);
    border-bottom: 2px solid var(--crimson-5);
  }
}

.active {
  color: var(--crimson-8);
  border-bottom: 2px solid var(--crimson-8);
}
