body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background: #FDFFFF;
  color: #000000;
  text-align: center;
}
.App{
  width: 960px;
  max-width: 90%;
  margin: 20px auto;
  background: #999999;
  border-radius: 1em;
}
h1{
  color: #2D3047;
  font-size: 3em;
  letter-spacing: 2px;
}
h2{
  color: #2D3047;
  font-size: 2em;
  letter-spacing: 1px;
}

button{
  margin: 0 10px;
  background:  #2D3047;
  border: 3px solid #5A2475;
  border-radius: 36px;
  padding: 10px;
  color: #EAF2D7;
  font-size: 1.2em;
  cursor: pointer;
}
button:hover{
  color: #fff;
  border-color: #fff;;
}
.content{
  text-align: left;
  padding: 20px;;
}
.card{
  padding: 8px 16px;
  background: #EAF2D7;
  margin: 16px 30px;
  border-radius: 20px;
}
.card p{
  margin: 6px 0;
  color: #2D3047;
}
.card h3{
  margin: 10px 0;
  color: #2D3047;
}
button:disabled{
  opacity: 0.2;
  cursor: not-allowed;
}