@import 'styles/main';

.favorites {
  background: var(--slate-1);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: $space;
  padding: $space-3 $space-2;
  margin: 0;

  .detailsItem {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    align-content: center;
    width: 100%;
    gap: $space-2;

    .title,
    .value {
      text-align: left;
      margin: 0;
    }

    .value {
      word-wrap: break-word;
    }

    .title {
      color: var(--gray-9);
      font-weight: 300;
    }
  }

  .icon_heart {
    fill: var(--slate-7);
    font-size: $fontSizeXXExtraLarge;
    margin-top: calc($space/2);
    cursor: pointer;
    fill: var(--tomato-10);
  }
}
