@import 'styles/main';

.categoriesLabelItemWrapper {
  margin-top: 0;
}

.categoriesLabelItemWrapper {
  display: flex;
  margin: 0;
}

.categoriesLabelItem {
  pointer-events: none;
  color: var(--crimson-8);
  border-bottom: 2px solid var(--crimson-8);
}
