@import 'styles/main';

.categories {
  width: 100%;
  height: 64px;
  background: $white;
  display: flex;
  padding: $space-2;
}

.categoriesItem {
  text-transform: uppercase;
  font-size: $normalFontSize;
  font-weight: $fontWeightSemiBold;
  margin: 0 $space-2;
  cursor: pointer;

  &:hover {
    color: var(--crimson-10);
    border-bottom: 2px solid var(--crimson-10);
  }
}

.active {
  color: var(--crimson-10);
  border-bottom: 2px solid var(--crimson-10);
}
