@import 'styles/main';

.starships {
  width: 100%;
  padding: $space $space-2;
  margin: $space-2 0;
}

.icon_arrow {
  justify-self: flex-end;
  fill: $fontColorGray;
}

.icon_heart {
  justify-self: center;
  align-self: center;
  fill: var(--slate-7);
  font-size: $fontSizeXXExtraLarge;
  margin-top: calc($space/2);

  &:hover {
    fill: var(--tomato-10);
  }
}

.loaderContainer {
  display: flex;
  min-height: 400px;
  justify-content: center;
  align-items: center;
}

.selected {
  fill: var(--tomato-10);
}
