@import 'styles/main';

.Toastify {
  &__toast-container {
    width: 400px !important;
  }

  &__toast {
    border-radius: 8px;
    box-shadow: none;
    padding: $space $space-2 !important;
  }

  &__toast-body.toastbody {
    font-family: $fontFamily;
    padding: 0 $space 0 0;

    .title {
      font-weight: $fontWeightBold;
      margin-bottom: calc($space/2);
    }

    .body {
      font-size: $fontSizeSmall;
      font-weight: $baseFontWeight;
    }

    .icon-wrapper {
      align-items: center;
      background-color: var(--gray-4);
      border-radius: 50%;
      display: flex;
      height: 36px;
      justify-content: center;
      min-width: 36px;

      .image-icon {
        height: 24px;
        width: 24px;
      }

      .success {
        path {
          fill: var(--green-11);
        }
      }

      .error {
        color: var(--tomato-10);
        height: 32px;
        stroke: var(--tomato-10);
        width: 32px;

        path {
          fill: $white;
          stroke: var(--tomato-11);
        }
      }

      .information {
        path {
          fill: var(--gray-11);
        }
      }
    }
  }

  &__close-button {
    align-self: center;
  }

  &__toast-icon {
    height: 36px !important;
    width: 36px !important;
  }

  &__toast-theme--colored.Toastify__toast {
    &--success {
      background: var(--green-5) !important;
      color: var(--green-11) !important;

      .Toastify__close-button {
        align-self: center;
        color: var(--green-11);
      }
    }

    &--error {
      background: var(--tomato-4) !important;
      color: var(--tomato-11) !important;

      .Toastify__close-button {
        align-self: center;
        color: var(--tomato-11);
      }
    }

    &--info {
      background-color: var(--gray-4) !important;
      color: var(--gray-9) !important;

      .Toastify__close-button {
        align-self: center;
        color: var(--gray-11);
      }
    }
  }

  &__progress-bar {
    height: 4px;
  }

  &__progress-bar-theme--colored.Toastify__progress-bar {
    &--success {
      background: var(--green-11) !important;
    }

    &--error {
      background: var(--tomato-11) !important;
    }

    &--info {
      background: var(--gray-9) !important;
    }
  }
}
