@import 'styles/main';

.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .link {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      svg {
        fill: var(--crimson-8);
      }
      .text {
        text-decoration: underline;
        color: var(--crimson-8);
      }
    }
  }

  .text {
    color: var(--slate-12);
    font-weight: 400;
  }
}
